@model Unitial.Web.ViewModels.Message.ConversationViewModel

<div class="cardbox shadow-lg bg-white " style="height:auto; border-radius:12px">
    <div class="cardbox-heading">

        <div class="media m-4 pt-3">
            <div class="d-flex mr-0">
                <a href="/Message?receiverId=@Model.User.Id" style="padding-bottom:10px">
                    <img class="img-fluid rounded-circle" src="@Model.User.ImageUrl" alt="User">
                </a>
            </div>
            <div class="media-body">
                <a href="/Message?receiverId=@Model.User.Id">
                    <p class="m-0">@Model.User.FirstName @Model.User.LastName</p>
                </a>

                <small>
                    <span>
                         @Model.LastUpdate.ToString("dd/MM/yyyy HH:mm")
                    </span>
                    @if (!Model.IsSeen)
                    {
                        <span>
                             New Message
                        </span>

                    }
                </small>
            </div>
        </div>
    </div>
</div>
