
@{
    ViewData["Title"] = "Edit";
}


<div class="page-wrapper p-t-180 p-b-100 font-robo" style="margin-top:-400px">
    <div class="wrapper wrapper--w960">
        <div class="card card-3">
            <div class="card-heading"></div>
            <div class="card-body">
                <h2 class="title">Edit Profile</h2>
                <form method="post" enctype="multipart/form-data">
                    <div class="input-group">
                        <div class="form-group">
                            <input class="input--style-2" placeholder="First Name" name="FirstName" size="23" value="@Model.FirstName" pattern="^[_A-z0-9]{3,}$" maxlength="50" required>
                            <hr>
                        </div>
                        <div class="form-group">
                            <input class="input--style-2" placeholder="Last Name" name="LastName" size="24" value="@Model.LastName" pattern="^[_A-z0-9]{3,}$" maxlength="50" required>
                            <hr>
                        </div>
                        <div class="form-group">
                            <input class="input--style-2" placeholder="Description" name="Description"  size="50" maxlength="250">
                            <hr>
                        </div>

                        <div class="form-group" style="width:422px">
                            <input type="file" class="input--style-2 " placeholder="Upload Profile Pic."    name="UploadImage" id="file-upload" accept="image/*">
                            <hr>
                        </div>
                        <button class=" collapsible" style="width:120px; height:30px; font-size:14px; font-weight: bold" type="button">Change Password</button>
                        <div class="content" style="display:none">
                            <div>
                                <div class="form-group">
                                    <input type="password" class="input--style-2 " placeholder="Old Password" name="OldPassword" size="50" pattern="^.{5,20}$" maxlength="50">
                                    <hr width="420px">
                                </div>
                                <div class="form-group">
                                    <input type="password" class="input--style-2 " placeholder="New Password" name="NewPassword" size="23" pattern="^.{5,20}$" maxlength="50">
                                    <hr>
                                </div>
                                <div class="form-group">
                                    <input type="password" class="input--style-2 " placeholder="Confirm Password" name="ConfirmPassword" size="24" pattern="^.{5,20}$" maxlength="50">
                                    <hr>
                                </div>
                            </div>
                        </div>


                        <div style="width:500px; padding-top:10px;">
                            <button class="btn btn--radius btn--green" type="submit">Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div><!-- Jquery JS-->
<script src="~/vendor/jquery/jquery.min.js"></script> <!-- Vendor JS-->
<script src="~/vendor/select2/select2.min.js"></script>


<script>
    var coll = document.getElementsByClassName("collapsible");
    var i;

    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.display === "block") {
                content.style.display = "none";
            } else {
                content.style.display = "block";
            }
        });
    }
</script>