@{
    this.ViewData["Title"] = "Error";
}
    <div class="main main-raised">
        <div class="profile-content">
            <div class="container">
                <section class="story-section company-sections ct-u-paddingBoth100 paddingBothHalf noTopMobilePadding description text-center" style="display:flex;justify-content:center;align-items:center;" id="section">
                    <div class="container text-center ">
                        <img style="width:500px" src="~/images/404.png" />
                        <div class="col-8  container text-center">

                            <p class=" marginTop40">
                                <a class="BackToHome" href="/">Back To Home Page</a>
                            </p>

                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>