@using Unitial.Common
@{
    this.ViewData["Title"] = "Home Page";
}

<div class="page-header header-filter" data-parallax="true"></div>
<div class="main main-raised">
    <div class="profile-content">
        <div class="container">
            <div class="row">
                <div class="col-md-4 ml-auto mr-auto">
                    <div class="profile">
                        <div class="avatar">
                            <img width="200" height="200" style="width:60%; margin-top:-100px; margin-left:75px; border-radius:50%;box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgb(0, 0, 0); " src="@Model.ImageUrl"
                                 alt="Circle Image" class=" centered-and-cropped">
                        </div>


                        <div class="name">
                            <h1 style="font-size:40px; text-align: center; margin-top: 20px;margin-bottom: 20px; font-weight:500 "> @Model.FirstName@Model.LastName </h1>
                        </div>
                    </div>
                </div>
            </div>
            <div class="description text-center">
                <h2>
                    @Model.Description
                </h2>
            </div>


            <div style="display:flex;justify-content:center;align-items:center;">
                <div class="accordionWrapper">
                    <div class="accordionItem close">
                        <h2 class="accordionItemHeading"> Create New Post.</h2>
                        <div class="accordionItemContent">
                            <form method="post" asp-action="CreatePost" asp-controller="Post" enctype="multipart/form-data">

                                <div class="form-group">
                                    <textarea style="font-size:16px" class="form-control" placeholder="Post Caption" name="caption" rows="2" pattern="^.{1,200}$" required></textarea>
                                </div>

                                <div class="form-group custom-file">

                                    <input type="file" class=" form-control custom-file-input " style="font-size:16px" name="UploadImage" id="file-upload" accept="image/*" required>
                                    <label class="form-control custom-file-label" style="font-size:16px" for="customFile">Upload Image</label>
                                </div>

                                <button class="btn-lg btn--radius btn-outline-dark" style="font-weight:500; width:80px; height:30px; margin-top:20px" type="submit">Create</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>



            <section class="hero">

                @if (@Model.PostsViewModels.Count > 0)
                {
                    foreach (PostViewModel item in Model.PostsViewModels)
                    {
                        Html.RenderPartial("_PostPartial", item);
                    }
                }
                else
                {
                    <h3 style="text-align:center">
                        You have no posts yet.
                        Click new post to create one!
                    </h3>
                }


            </section>
        </div>
    </div>
</div>

<!-- Jquery needed -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<!-- Function used to shrink nav bar removing paddings and adding black background -->

<script src="~js/Profile.js"></script>

<script>
    var accItem = document.getElementsByClassName('accordionItem');
    var accHD = document.getElementsByClassName('accordionItemHeading');
    for (i = 0; i < accHD.length; i++) {
        accHD[i].addEventListener('click', toggleItem, false);
    }
    function toggleItem() {
        var itemClass = this.parentNode.className;
        for (i = 0; i < accItem.length; i++) {
            accItem[i].className = 'accordionItem close';
        }
        if (itemClass == 'accordionItem close') {
            this.parentNode.className = 'accordionItem open';
        }
    }
</script>

<script>
    // Add the following code if you want the name of the file appear on select
    $(".custom-file-input").on("change", function () {
        var fileName = $(this).val().split("\\").pop();
        $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
    });
</script>