/*
*
* ===========================================================
*     HERO SECTION
* ===========================================================
*
*/
.hero {
    padding: 6.25rem 0px !important;
    margin: 0px !important;
}

.cardbox {
    width: 512px;
    height: 800px;
    border-radius: 3px;
    margin-bottom: 20px;
    padding: 0px !important;
}

    /* ------------------------------- */
    /* Cardbox Heading
  ---------------------------------- */
    .cardbox .cardbox-heading {
        /* padding: 16px; */
        margin: 0;
    }

    .cardbox .btn-flat.btn-flat-icon {
        border-radius: 50%;
        font-size: 24px;
        padding: 0;
        overflow: hidden;
        color: #fff !important;
        background: #b5b6b6;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .cardbox .float-right .dropdown-menu {
        position: relative;
        left: 13px !important;
    }

    .cardbox .float-right a:hover {
        background: #f4f4f4 !important;
    }

    .cardbox .float-right a.dropdown-item {
        display: block;
        width: 100%;
        padding: 4px 0px 4px 10px;
        clear: both;
        font-weight: 400;
        font-family: 'Abhaya Libre', serif;
        font-size: 14px !important;
        color: #848484;
        text-align: inherit;
        white-space: nowrap;
        background: 0 0;
        border: 0;
    }

/* ------------------------------- */
/* Media Section
  ---------------------------------- */
.media {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
}

.d-flex {
    display: -ms-flexbox !important;
    display: flex !important;
}

.media .mr-3 {
    margin-right: 1rem !important;
}

.media img {
    width: 56px !important;
    padding: 3px;
    border: 2px solid #555555;
}

.media-body {
    -ms-flex: 1;
    flex: 1;
    padding: 10px !important;
}

    .media-body p {
        font-family: 'Rokkitt', serif;
        font-weight: 500 !important;
        font-size: 16px;
        color: #555;
    }

    .media-body small span {
        font-family: 'Rokkitt', serif;
        font-size: 12px;
        color: #aaa;
        margin-right: 10px;
    }


/* ------------------------------- */
/* Cardbox Item
  ---------------------------------- */
.cardbox .cardbox-item {
    position: relative;
    display: block;
}

.fw {
    width: 100% !important;
    height: auto;
}


/* ------------------------------- */
/* Cardbox Base
  ---------------------------------- */


.cardbox-base ul {
    margin: -5px 100px 10px 24px !important;
    padding: 10px !important;
    font-size: 0px;
    display: inline-block;
}

.cardbox-base li {
    list-style: none;
    margin: -30px 0px 0px -8px !important;
    padding: -10px 0px 0px 0px !important;
    display: inline-block;
}

    .cardbox-base li a {
        margin: 0px !important;
        padding: 0px !important;
    }

        .cardbox-base li a i {
            position: relative;
            top: 10px;
            font-size: 30px;
            margin-right: 0px;
        }

            

        .cardbox-base li a span {
            font-family: 'Rokkitt', serif;
            font-size: 15px;
            color: #8d8d8d;
            margin-left: 15px;
            position: relative;
            top: 5px;
        }

        .cardbox-base li a em {
            font-family: 'Rokkitt', serif;
            font-size: 14px;
            color: #8d8d8d;
            position: relative;
            top: 3px;
        }

        .cardbox-base li a img {
            margin: 0px !important;
            border: 2px solid #fff;
        }



/* ------------------------------- */
/* Cardbox Comments
  ---------------------------------- */
.cardbox-comments {
    padding: 10px 40px 20px 40px !important;
    font-size: 0px;
    text-align: center;
    display: inline-block;
}

    .cardbox-comments .comment-avatar img {
        margin-right: 0px;
        position: relative;
        right: 27px;
        display: inline-block;
        text-align: center;
        width: 47px;
    }

    .cardbox-comments .comment-body {
        overflow: auto;
    }

.search {
    position: relative;
    left: 30px;
    top: -50px;
    margin-bottom: -40px;
    border: 2px solid #f4f4f4;
    width: 140%;
    overflow: hidden;
}

    .search input[type="text"] {
        background-color: #fff;
        line-height: 20px;
        padding: 15px 60px 20px 10px;
        border: none;
        border-radius: 4px;
        width: 100%;
        font-family: 'Rokkitt', serif;
        font-size: 15px;
        text-align: left;
        color: #636363;
        height: inherit;
        font-weight: 600;
    }

    .search button {
        position: absolute;
        border: none;
        background-color: transparent;
        color: #bbbbbb;
        padding: 20px 25px;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

        .search button i {
            font-size: 20px;
            line-height: 30px;
            display: block;
        }


/* ------------------------------- */
/* Author
  ---------------------------------- */
.author a {
    font-family: 'Rokkitt', serif;
    font-size: 16px;
    color: #00C4CF;
}

.author p {
    font-family: 'Rokkitt', serif;
    font-size: 16px;
    color: #8d8d8d;
}

.size-litle-icon {
    width: 10px;
}




body {
    padding: 50px;
    background: #fff;
}

.wrapper {
    width: 70%;
}

@media(max-width:992px) {
    .wrapper {
        width: 100%;
    }
}

.panel-heading {
    padding: 0;
    border: 0;
}

.panel-title > a,
.panel-title > a:active {
    display: block;
    padding: 15px;
    color: #555;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 3px;
    text-decoration: none;
}

.panel-heading a:before {
    font-family: 'Glyphicons Halflings';
    content: "\e114";
    float: right;
    transition: all 0.5s;
}

.panel-heading.active a:before {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    transform: rotate(180deg);
}

button {
    color: transparent;
    background-color: transparent;
    border: 0px;
    border-bottom-width: 0px;
}



.liked {
    color: #282828;
}

.notliked {
    color: #8d8d8d;
}
