@model Unitial.Web.ViewModels.CommetViewModel

    <div class="cardbox-comments"id="@Model.Id">
        <span class="comment-avatar float-left">
            <a href="/User/Profile?uesrId=@Model.AuthorId">
                <img class="rounded-circle" src="@Model.CreatorProfilePic">
            </a>
        </span>
        <div class="comment">
            <b class="comment-text">@Model.CommentText</b>
        </div>
    </div>

