@model Unitial.Data.Models.Comment

    <div class="cardbox-comments"id="@Model.Id">
        <span class="comment-avatar float-left">
            <a href="">
                <img class="rounded-circle" src="https://res.cloudinary.com/king-arthur/image/upload/v1582805826/49744aa8-fd2d-4204-9db7-1b230f170351_default-profile-pic.png_Post_Picture.png">
            </a>
        </span>
        <div class="comment">
            <b class="comment-text">@Model.CommentText</b>
        </div>
    </div>

