@using Unitial.Common
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@this.ViewData["Title"] - @GlobalConstants.SystemName</title>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>



    @if (this.ViewData["Title"] == "Register" || this.ViewData["Title"] == "Edit")
    {

        <link href="~/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
        <link href="~/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
        <!-- Font special for pages-->
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i"
              rel="stylesheet">

        <!-- Vendor CSS-->
        <link href="~/vendor/select2/select2.min.css" rel="stylesheet" media="all">
        <link href="~/vendor/datepicker/daterangepicker.css" rel="stylesheet" media="all">

        <link rel="stylesheet" href="~/css/register.css">
    }
    else if (this.ViewData["Title"] == "Log in")
    {


        <link rel="stylesheet" href="~/css/login.css">
    }
    else
    {

        <link rel="stylesheet" href="~/css/accordion.css">
        <link rel="stylesheet" href="~/css/Post.css">
        <link rel="stylesheet" href="~/css/profile.css">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
        <link rel="stylesheet"
              href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css"
              integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css"
              href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons">
        <link rel="stylesgeet"
              href="https://rawgit.com/creativetimofficial/material-kit/master/assets/css/material-kit.css">
        <link href="https://fonts.googleapis.com/css?family=Rokkitt" rel="stylesheet">
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

        @*<script src="js/Profile.js"></script>*@

    }
    @if (this.ViewData["Title"] == "About" || this.ViewData["Title"] == "Error" || this.ViewData["Title"] == "Privacy")
    {
        <link rel="stylesheet" href="~/css/About.css">

    }
    <link rel="stylesheet" href="~/css/header.css">

    <link rel="shortcut icon" type="image/png" href="~/images/Favicon.png" />



</head>
<!-- fragment head end -->

<body>
    <!-- fragment navi start -->

    <nav class="nav">
        <div class="container" style=" max-width: 1300px;">
            <div class="logo">
                <a href="/"><img src="~/images/UnitialText.png" width="170px" alt="Unitial"></img></a>
            </div>
            <div id="mainListDiv" class="main_list">

                <partial name="_MyLoginPartial" />
            </div>
            <span class="navTrigger">
                <i></i>
                <i></i>
                <i></i>
            </span>
        </div>
    </nav>
    <!-- fragment navi end -->
    <!-- fragment login start -->
    <section class="home">
        @*<partial name="_CookieConsentPartial">*@
        @this.RenderSection("Scripts", required: false)
    </section>
    @this.RenderBody()

    @*<script src="js/scripts.js"></script>*@

    <!-- Function used to shrink nav bar removing paddings and adding black background -->

    <script>
        $(window).scroll(function () {
            if ($(document).scrollTop() > 50) {
                $('.nav').addClass('affix');
            } else {
                $('.nav').removeClass('affix');
            }
        });
    </script>


    <script>
        let seenAll = true;
        function CheckForNew() {
            if (seenAll == true) {
                setTimeout(CheckForNew, 1010);
            }
            else {

                return;
            }

            let xhttp = new XMLHttpRequest();

            xhttp.onreadystatechange = function () {

                if (this.readyState == 4 && this.status == 200 && this.responseText != null) {

                    let messages = this.responseText;
                    if (messages == "true") {

                        let messagesButton = document.getElementById("MessageButton");
                        messagesButton.innerHTML += `<img class="img-fluid rounded-circle MessageDot" src="/images/MessageDotRed.png" >`;
                        seenAll = false;

                    }
                    console.log("as");
                }
            }

            xhttp.open("Post", `/Message/CheckForNew`, true);
            xhttp.send();
        }
            setTimeout(CheckForNew, 1005);

    </script>
</body>


</html>