@{
    this.ViewData["Title"] = "About";
}


<div class="page-header header-filter" data-parallax="true"></div>
<div class="main main-raised">
    <div class="profile-content">
        <div class="container">
            <section class="story-section company-sections ct-u-paddingBoth100 paddingBothHalf noTopMobilePadding" id="section">
                <div class="container text-center">
                    <h2>
                        WHAT DRIVES US
                    </h2>
                    <h3>
                        King Arthur - Unitial
                    </h3>
                    <div class="col-md-8 col-md-offset-2 container text-center">

                        <p class="ct-u-size22 ct-u-fontWeight300 marginTop40">
                            Unitial is a platform. That Is inspired form other social media platforms. But my idea is that this is your place your page is like your room organized and beautiful. Fell free to send feedback on everything at ivan_99@mail.bg!
                        </p>

                    </div>
                </div>
            </section>
        </div>
    </div>
</div>